## Configuration file for the authorization
## This is an example file.
## The parameters below in angle brackets (<>) are provided for demonstration purpose and are not valid
#
# Your VK app id
APP_ID=<12345>
# Your VK app secret key
APP_SECRET=<SEcrEtappKey>
# Redirect URI
REDIRECT_URI=https://oauth.vk.com/blank.html
#
# Allow the application to cache access token
# -USE_CACHED_TOKEN